<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Smart Parking - Predictor tool</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<main role="main">

  <section class="text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Predictor tool</h1>
      <p class="lead text-muted">
        <b>Predictor tool</b> est un  outil de test qui montre la pertinence et fiabilité de notre système de détection de type des voitures.
        <br/>
        Il vous suffit d'uploader les images et de cliquer sur "prédict" pour voir le résultat.
      </p>
    </div>
  </section>

  <section class="text-center">
    <div class="container">
      <p class="lead text-muted">
        Télécharger vos images
      </p>
      <dropzone
          [message]="'Click or drag images here to upload'"
          (error)="onError($event)"
          (sendingmultiple)="onSendingmultiple($event)"
          (success)="onSuccess($event)"></dropzone>

          <button type="button"
                      style="margin-right: .25rem;"
                      class="btn btn-success"
                      (click)="submit()">Predict</button>
              <button type="button"
                      style="margin-left: .25rem;"
                      class="btn btn-light mt-2 mt-sm-0"
                      (click)="reset()">Reset</button>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-3" *ngFor="let predictedImage of predictedImages">
          <div class="card mb-3 box-shadow">
            <img class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"
                style="height: 225px; width: 100%; display: block;"
                [src]="predictedImage.content"
                data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">
                Type : <b>{{predictedImage.predictedClass}}</b>  avec une probabilité de {{predictedImage.score}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
